# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.ipa
*.zip
*.apk
*.aab

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
devtools_options.yaml
custom_lint.log

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx
android/local.properties
android/gradlew
android/gradlew.bat
android/.gradle/
android/captures/
android/key.properties

# iOS/XCode related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/build/
ios/.DS_Store

# Fastlane
ios/fastlane/report.xml
android/fastlane/report.xml

# Isar
default.isar
default.isar.lock
libisar.so

# FVM Version
.fvm/

# Translation file
lib/generated/codegen_loader.g.dart